{{=<% %>=}}
<!DOCTYPE html>
<html lang="en" ng-app="nomoEFW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Frontend</title>

    <!-- nomo CSS -->
	<link href="/dist/nomo.min.css?ver=<%VERSION%>" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<h1>Frontend</h1>
	<div>
        {{sampletable.selection}}
        <div class="container">
            <div class="row">
                <div nomo-table="sampletable" nomo-table-class="'Peldatabla'" class="col-md-6"></div>
                <div ng-if="sampletable.activerow" nomo-form="samplefrom" nomo-form-class="sampletable.class" nomo-form-id="sampletable.activerow.rowid"  class="col-md-6"></div>
            </div>
        </div>
	</div>

    <!-- nomo JS -->
	<script src="/dist/nomo.min.js?ver=<%VERSION%>" type="text/javascript"></script>
</body>

</html>
