{{=<% %>=}}
<!DOCTYPE html>
<html lang="en" ng-app="nomoAdmin">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>nomoEFW Admin</title>

		<%#NOMODEV_CSS_HTML%>
			<%{NOMODEV_CSS_HTML}%>
		<%/NOMODEV_CSS_HTML%>
		<%^NOMODEV_CSS_HTML%>
			<link href="/nomoEFW/app/dist/nomo.min.css?ver=<%VERSION%>" rel="stylesheet" type="text/css">
		<%/NOMODEV_CSS_HTML%>

		<!-- Custom CSS -->
		<link href="/admin/app/lib/startbootsrap-sb-admin/css/sb-admin.css?ver=<%VERSION%>" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script type="application/javascript">
		  VERSION="<%VERSION%>";
		</script>

	</head>
	<body  ng-controller="nomoAdminMainCtrl">
		<div ng-if="nomoSession.get().groupid===0" ng-include="'/admin/app/modules/login/login.html?ver=<%VERSION%>'"></div>
		<div ng-if="nomoSession.get().groupid!==0" ng-include="'/admin/app/modules/index/index.html?ver=<%VERSION%>'"></div>

		<%#NOMODEV_JS_HTML%>
			<%{NOMODEV_JS_HTML}%>
		<%/NOMODEV_JS_HTML%>
		<%^NOMODEV_JS_HTML%>
			<script src="/nomoEFW/app/dist/nomo.min.js?ver=<%VERSION%>" type="text/javascript"></script>
		<%/NOMODEV_JS_HTML%>

		<%{ADMIN_JS_HTML}%>
	</body>
</html>
