<form
  ng-submit="alert('szures aktivalva')">
<div ng-show="advancedFilter.length>0">
<table class="table">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Szűrőmező
                    </th>
                    <th>
                        Feltétel
                    </th>
                    <th>
                        Kifejezés
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="filter in advancedFilter">
                    <td width='10'>
                        <span class="badge badge-default">{{$index+1}} </span>
                    </td>
                    <td width='250'>
                       <!--class="form-control input-sm" -->
                        <select class="form-control" ng-model="filter.data.field" ng-change="filterFieldChanged(advancedFilter[$index])" ng-options="value.name as value.label for value in grid.definition.fields"></select>
                    </td>
                    <td  width='150'>
                        <select class="form-control" ng-model="filter.data.operator" ng-options="value.value as value.label for value in getFilterOperator(filter.definition[0].controltype)"></select>
                    </td>
                    <td width='250'>

                        <div nomo-form-control="'value'" nomo-form-control-form="filter" ></div>

                    </td>
                    <td>
                      <a href="javascript:;" class="btn btn-default" ng-click="removeFilter($index)"><i class="fa fa-minus"></i></a>
                      <a href="javascript:;" class="btn btn-default" ng-click="addFilter()" ng-show="$last" ><i class="fa fa-plus"></i></a>
                      <button ng-show="$last" type="submit" class="btn blue" ng-click="filterGrid()"><i class="fa fa-filter"></i> Szűrés</button>
                    </td>
                </tr>
                </tbody>
            </table>
</div>
</form>

